body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: black;
}
.header__wrapper {
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}
.header__logo {
  margin-top: 4px;
  float: left;
}
.header__nav {
  float: right;
}
.nav {
}
.nav__wrapper {
  margin: 0;
  padding-left: 0;
  list-style: none;
  clear: both;
}
.nav__item {
  float: left;
  border-right: 1px solid #3f3f3f;
}
.nav__item:first-child .nav__links {
  border-left: 1px solid #3f3f3f;
}
.nav__links {
  display: block;
  padding: 20px 25px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__links:hover {
  background-color: #1f1f1f;
}
.nav__item:last-child {
  min-width: 180px;
  text-align: right;
  border-right: none;
}
.nav__links--button {
  display: inline-block;
  background-color: #05beff;
  padding: 5px 10px;
  margin-top: 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.article {
}
.article__header {
  background-color: black;
  color: white;
  min-height: 400px;
  position: relative;
}
.article__wrapper {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}
.article__header {
  background-image: url('http://fakeimg.pl/1800x400?text=.&font=lobster');
  background-repeat: no-repeat;
  background-size: cover;
}
.article__header .article__wrapper {
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
  text-align: center;
}
.article__title {
  font-size: 35px;
  text-transform: uppercase;
}
.article__title::after {
  content: '';
  display: block;
  margin: 28px auto 0;
  background-color: #b5a8a8;
  width: 28px;
  height: 3px;
}
.article__meta {
  color: #b5a8a8;
}
.article__content h2 {
  padding: 35px 0 0px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
.article__content p {
  padding: 20px 0;
  color: #898989;
  line-height: 1.5;
}
.article__content blockquote {
  position: relative;
  margin: 0;
  line-height: 1.5;
}
.article__content blockquote::before {
  content: '"';
  position: absolute;
  top: -65%;
  left: -55px;
  font-size: 80px;
  font-family: 'Times New Roman', Times, serif;
}
.article__content cite {
  position: absolute;
  top: 55%;
  left: -95px;
  font-style: normal;
  color: #898989;
}
.article__content img {
  height: auto;
  width: 100%;
}

.related {
  background-color: black;
  padding: 40px 0;
}
.related__wrapper {
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
}
.related__heading {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
/*.related__content{
  clear: both;
}
.related__item:first-child{
  margin-left: 0;
}
.related__item{
  float: left;
  border: 3px solid white;
  width: 30%;
  height: 380px;
  margin-left: 3%;
}*/
.related__content {
  display: flex;
  justify-content: spacebetween;
  align-items: center;
  /*gap: 3.5%;*/
}
.related__item:first-child {
  margin-left: 0;
}
.related__item {
  border: 3px solid white;
  height: 380px;
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 25px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
